<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
    <div class="floating-button">
        <button mat-fab color="accent" matTooltip="{{'actions.new' | translate}}" (click)="goTo('aircraft/new')">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-card>
        <form [formGroup]="formGroup">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="20">
                    <mat-label>{{'#' | translate}}</mat-label>
                    <input matInput formControlName="id">
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>{{'general.description' | translate}}</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>

                <button mat-mini-fab color="primary" matTooltip="{{'actions.search' | translate}}" (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>

    <mat-card>
        <table mat-table [dataSource]="dataSource">
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> {{'#' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> {{'general.description' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Valuation date Column -->
            <ng-container matColumnDef="valuation_date">
                <th mat-header-cell *matHeaderCellDef> {{'general.valuation_date' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.valuation_date | date: 'shortDate'}} </td>
            </ng-container>

            <!-- Appraised value Column -->
            <ng-container matColumnDef="appraised_value">
                <th mat-header-cell *matHeaderCellDef> {{'general.appraised_value' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.appraised_value | currency}} </td>
            </ng-container>

            <!-- Deppreciation rate Column -->
            <ng-container matColumnDef="depreciation_rate">
                <th mat-header-cell *matHeaderCellDef> {{'general.depreciation_rate' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.depreciation_rate | number}} </td>
            </ng-container>

            <!-- Check interval Column -->
            <ng-container matColumnDef="check_interval">
                <th mat-header-cell *matHeaderCellDef> {{'general.check_interval' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.check_interval}} </td>
            </ng-container>

            <!-- Modified date Column -->
            <ng-container matColumnDef="modified_at">
                <th mat-header-cell *matHeaderCellDef> {{'general.modified_at' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.modified_at | date: 'short'}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" align="end">
                    <button mat-button mat-icon-button color="primary" matTooltip="{{'actions.edit' | translate}}"
                        (click)="goTo('aircraft/' + element.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button mat-icon-button color="warn" matTooltip="{{'actions.delete' | translate}}"
                        (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- No records row -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" fxFlex fxLayoutAlign="start center">
                    {{'general.no_records_found' | translate}}
                </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="goTo('aircraft/' + row.id)"></tr>
        </table>
        <mat-paginator [length]="length"></mat-paginator>
    </mat-card>
</div>